<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="output.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>

<body>
    <div class="container">
        <h1 class="mt-4 mb-4">Register to View my blog!</h1>
        <div>
            <form action="/register" method="POST">
                <div>
                    <label for="name">Your Name:</label>
                    <div class="col-sm-10">
                        <input type="text" name="name" id="name" required />
                    </div>
                </div>
                <div>
                    <label for="email">Your Email:</label>
                    <div class="col-sm-10">
                        <input type="email" name="email" id="email" required />
                    </div>
                </div>
                <div>
                    <label for="password">Your Password:</label>
                    <div class="col-sm-10">
                        <input type="password" name="password" id="password" required />
                    </div>
                </div>
                <br>
                <button class="btn mt-10 mb-10" type="submit">Register</button>
            </form>
            <a href="/login">Already have an account?</a>
        </div>
    </div>
</body>